{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "cypress",
    "react-hooks",
    "promise",
    "unicorn",
    "security"
  ],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:cypress/recommended",
    "airbnb-typescript/base",
    "plugin:promise/recommended",
    "plugin:unicorn/recommended",
    "plugin:security/recommended"
  ],
  "rules": {
    "@typescript-eslint/indent": ["error", 2],
    "import/no-cycle": "off",
    "sort-keys": [
      "error",
      "asc",
      {
        "caseSensitive": true,
        "natural": false,
        "minKeys": 2
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "pascalCase": true,
          "kebabCase": true
        },
        "ignore": [
          "^next-env\\.d\\.ts$"
        ]
      }
    ],
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "allowList": {
          "defaultProps": true
        },
        "ignore": [
          "next-env\\.d$"
        ]
      }
    ]
  },
  "env": {
    "cypress/globals": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
